# SAP BTP
mta_archives/
*.mtar

# Node.js
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Environment files
*.env
*.defaults

# Build artifacts
dist/
gen/
coverage/

# Editor files
.vscode/
.idea/

# CI/CD
deployment-config.json
